body {
    font-style: normal;
    font-size: 13pt;
    font-family: "Times New Roman", Times, sans-serif;
    /* position: relative; */
    margin: 0;
}

/* header { */
/* position: fixed; */
/* flex-wrap: wrap; */
/* position:relative; */
/* background-color: #f5f6f8; */
/* border-color: #4a4a4a; */
/* border-style: double; */
/* border-width: 2pt; */
/* line-height: 0; */
/* } */

/* nav { */
/* text-indent: 30pt; */
/* } */
a {
/* display: block; */
    color: #58a6e0;
    /* font-style: italic; */
    /* font-variant:unset; */
    /* font-weight: 600; */
    font-size: 15pt;
    /* line-height: 0; */
    /* font-family:'Times New Roman', Times, serif; */
    text-decoration: none;
}

nav a {
    /* display: block; */
    color: #58a6e0;
    font-style: italic;
    /* font-variant:unset; */
    /* font-weight: 600; */
    font-size: 15pt;
    /* line-height: 0; */
    /* font-family:'Times New Roman', Times, serif; */
    text-decoration: none;
    /* background-color: #f5f6f8; */
}

nav a:hover {
    color: #f05347;
}

nav a:not(:last-of-type) {
    margin-right: 1.5vw;
}

section {
    display: none;
    /* position: absolute; */
}

section:target {
    display: block;
}

h2 {
    /* color: grey; */
    font-style: italic;
    /* font-variant:unset; */
    /* font-weight: 600; */
    /* font-size: 11pt; */
    /* line-height: 0; */
    /* font-family:'Times New Roman', Times, serif; */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-indent: 50pt;
}

h3 {
    padding-left: 50pt;
    color: #4a4a4a;
    /* font-style: italic; */
    /* font-variant:unset; */
    /* font-weight: 600; */
    /* font-size: 11pt; */
    line-height: 0;
    /* font-family:'Times New Roman', Times, serif; */
    text-indent: 30pt;
    /* background-color: #f5f6f8;  */
}

h4 {
    /* display: block; */
    color: #4a4a4a;
    font-style: italic;
    /* font-variant:unset; */
    /* font-weight: 600; */
    /* font-size: 11pt; */
    line-height: 0;
    text-indent: 30pt;
    /* border-top: 1px solid #4a4a4a ; */
    /* background-color:;#f5f6f8; */
    /* background-color:#4a4a4a; */

}

h5 {
    /* color: grey; */
    font-style: italic;
    /* font-variant:unset; */
    /* font-weight: 600; */
    font-size: 12pt;
    line-height: 0;
    text-indent: 20pt;
    /* font-family:'Times New Roman', Times, serif; */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
}

.n1 {
    display: inline-block;
    /* position:relative; */
    color: grey;
    width: 20pt;
    padding-right: 5pt;
    margin-right: 20pt;
}

.n2,
.n6 {
    /* display: inline-block; */
    /* position:relative; */
    /* width: 300pt; */
    flex: 2 30pt;
    /* margin-left:20pt ; */
    /* padding-left:20pt ; */
}

.n3 {
    display: inline-block;
    width: 120pt;
}

.n4 {
    display: inline-block;
    width: 80pt;
}

.n5,
.n7 {
    /* display: inline-block; */
    /* width: 100%; */
    /* position: absolute; */
    flex: 3;

}

.n8 {
    display: inline-flex;
    flex-wrap: wrap;
    /* align-items:center; */
    width: 100%;
}

.wraper {
    height: 100%;
}

.block_row {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    border: 20px solid #eee86e;
    margin: 0px 0px 20px 0px;
}

.block_column {
    border: 20px solid #58a6e0;
}

.block_item {
    background-color: #b9aeae;
    padding: 30px;
    text-align: center;
    font-size: 50px;
    color: #837f4e;
    font-weight: 700;
}

.f_container {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding-right: 4px;
    padding-left: 4px;;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    border-top: 1px solid #4a4a4a;
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
}

.f1 {
/* display: flex; */

    /* align-self: center; */
    /* width: 150pt; */
    /* flex-basis: 200px; */
    /* flex-grow: 1; */
    flex: 0 0 33%;
    font-weight: 600;
    color: #4a4a4a;
    /* color: #4a4a4a; */
    /* border: #4a4a4a; */
    border-right: 1px solid #4a4a4a;
}

.f2 {
    /* display:inline-flex; */
    /* flex: 1 1 34% */
    /* font-style: italic; */
    font-weight: normal;
    color: #58a6e0;
    /* align-self: center; */
    /* border-top: 1px solid #4a4a4a; */
/* border-right: 1px solid #4a4a4a; */
    /* font-style: italic; */
    /* color: #4a4a4a; */
}

.f3 {
    /* flex-grow: 0; */
    /* flex-shrink: 1; */
    padding-left: 4px;
    /* border-left: 1px solid #4a4a4a; */
}

.s1 {
    color: #000;
    font-weight: 600;

}

span{
    padding: 2px;
}


.f_container_h2 {
    display: flex;
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
    border-top: 1px solid #4a4a4a;
}

.f_container_h4 {
    display: flex;
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
    border-top: 1px solid #4a4a4a;
}

.f_container_header_nav {
display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 4px;
}

.f_container_footer_nav{
display: flex;
    padding: 4px;
    border-top: 1px solid #4a4a4a;

}

.g_container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    /* justify-items:start; */
}

.g1 {
    /* text-align: center; */
    /* border: 1px dashed #58a6e0; */
    padding-left: 5px;

}

.g2 {
    /* border: 1px dashed #58a6e0; */
    padding-left: 5px;
}

/* footer { */
/* padding: 10px; */
/* bottom: 0; */
/* background-color: #f5f6f8; */
/* line-height: 0; */
/* } */
